In [1]:
import pandas as pd
import boto3
import json

## Load DWH Params from a file

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")


DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("CLUSTER","DWH_DB")
DWH_DB_USER            = config.get("CLUSTER","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DWH_DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

## Create clients for EC2, S3, IAM, and Redshift

In [3]:
ec2 = boto3.resource('ec2', region_name = 'us-west-2',
                     aws_access_key_id = KEY,
                     aws_secret_access_key = SECRET)

s3 = boto3.resource('s3', region_name = 'us-west-2',
                     aws_access_key_id = KEY,
                     aws_secret_access_key = SECRET)

iam = boto3.client('iam', region_name = 'us-west-2',
                     aws_access_key_id = KEY,
                     aws_secret_access_key = SECRET)

redshift = boto3.client('redshift', region_name = 'us-west-2',
                     aws_access_key_id = KEY,
                     aws_secret_access_key = SECRET)

## Check the data on S3

In [4]:
sampleDbBucket =  s3.Bucket("udacity-dend")

# TODO: Iterate over bucket objects starting with "ssbgz" and print
for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

In [5]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
print(prettyRedshiftProps(myClusterProps).iloc[[2],:])

             Key      Value
2  ClusterStatus  available

In [6]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']

In [7]:
%load_ext sql

In [9]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
%sql $conn_string

'Connected: dwhuser@dwh'

In [10]:
from create_tables import main as table_creation

In [11]:
table_creation()

DROP TABLE IF EXISTS stagingEvents
DROP TABLE IF EXISTS songsEvents
DROP TABLE IF EXISTS songplay
DROP TABLE IF EXISTS users
DROP TABLE IF EXISTS song
DROP TABLE IF EXISTS artist
DROP TABLE IF EXISTS time

In [12]:
%sql select * from songplay;

 * postgresql://dwhuser:***@dwhcluster.czjp6tcnbz96.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [13]:
from etl import main as table_insertions

In [14]:
table_insertions()

In [15]:
 %sql SELECT * FROM songplay limit 5;

 * postgresql://dwhuser:***@dwhcluster.czjp6tcnbz96.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(4595, datetime.datetime(2018, 11, 1, 21, 11, 13), 8, 'free', 'SOEIQUY12AF72A086A', 'ARHUC691187B9AD27F', 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (8183, datetime.datetime(2018, 11, 1, 21, 52, 5), 26, 'free', 'SOYVCJU12A67AD8617', 'ARSG7NQ1187FB57482', 169, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (7324, datetime.datetime(2018, 11, 2, 9, 8, 18), 15, 'paid', 'SOSJQKV12A8AE46270', 'AR0S7TA1187FB4D024', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (4914, datetime.datetime(2018, 11, 2, 9, 13, 37), 89, 'free', 'SONJNQI12A6310EDEE', 'ARVHQNN1187B9B9FA3', 88, 'Cedar Rapids, IA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (7548, datetime.datetime(2018, 11, 2, 9, 13, 37), 89, 'free', 'SOQRRKS12AB0187374', 'ARVHQNN1187B9B9FA3', 88, 'Cedar Rapids, IA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [19]:
%sql SELECT * FROM stagingSongs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.czjp6tcnbz96.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'ARMAC4T1187FB3FA4C', Decimal('-74'), Decimal('40'), 'Morris Plains, NJ', 'The Dillinger Escape Plan', 'SOBBUGU12A8C13E95D', 'Setting Fire to Sleeping Giants', Decimal('207'), 2004),
 (1, 'ARANFET1187FB56607', None, None, 'Buff Bay, Portland, Jamaica', 'Wayne Wonder', 'SOCGVXG12A6D4FBC3C', 'All This Time', Decimal('227'), 0),
 (1, 'ARXWAQQ1187B9AE954', None, None, 'Newark, NJ', 'Redman', 'SORWHWY12A6702038E', 'WKYA (drop)', Decimal('124'), 2001),
 (1, 'AR6C8EJ1187FB3F473', None, None, ' Ubá, Minas Gerais', 'Nelson Ned', 'SOCCQIQ12A8C13C76B', 'Brasas Vivas', Decimal('211'), 0),
 (1, 'ARTFTSM11C8A415955', None, None, '', 'Ace Enders & A Million Different People', 'SORMXGO12AB017CE1D', 'New Guitar', Decimal('66'), 2009)]